.active {
    color: #000;
    text-shadow: 2px 2px 4px #b5b5b5;
}

.custom-card {
    display: flex;
    width: 400px;
    height: 101px;
    box-sizing: border-box;
}

.custom-card .card-body {
    padding: 5px 5px 5px 10px;
}

.custom-card .card-body p {
    margin-bottom: 7px;
    box-sizing: border-box;
}