{% extends 'base.html' %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.post.label(class="form-label") }}
            <textarea class="form-control" id="exampleFormControlTextarea1" name="{{ form.post.name }}" rows="3">{{ form.post._value() }}</textarea>
            {% for error in form.post.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url }}" class="page-link">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url }}" class="page-link">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
