<nav aria-label="Post navigation">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url }}" class="page-link">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url }}" class="page-link">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>